// Styles base elements

html {
    font: normal 16px/1.5 $ptSansStack;
    color: $cLaborText;
    background-color: $cMainBackground;
}

body {
    line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $bariolStack;
    font-size: 1.5rem;
}

a {
    color: $cLink;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

svg {
    fill: currentColor;
}

abbr {
    text-decoration: none;
}
