// Structure elements

body {
    min-width: $sMainMinSize;
    max-width: $sMainMaxSize + 128; // 2 * 4rem = 128px
    margin: 0 auto;
}

.page__content {
    margin: 2rem 0 $sMobilePageSectionsGapSize 0;
    padding: 0 2rem;
    text-align: center;
}

.page__content header {
    font-size: 1.414rem;
}

.page__section {
    margin-top: $sMobilePageSectionsGapSize;
}

@media screen and (min-width: $sMobileSize) {
    .page__content {
        margin: 6rem 3rem $sDesktopPageSectionsGapSize 3rem;
        text-align: left;
    }

    .page__section {
        margin-top: $sDesktopPageSectionsGapSize;
    }
}
