// Structure elements

body {
    min-width: $sMainMinSize;
    // max-width: $sMainMinSize; // temporary
    margin: 0 auto;
}

.page__content {
    max-width: $sMainMaxSize - 32; // 32 = 2rem
    margin: 0 auto;
    padding: 2rem;
}
