// about page specific styles

.about header {
    max-width: $sImgMaxSize;
    margin: $sTitleAndContentAddGap auto;
    font-size: 1rem;
}

.about__container {
    display: block;
}

.about .link {
    &__container {
        display: block;
        max-width: $sImgMaxSize;
    }
    &--button {
        margin-top: 2rem;
    }
}
.about header p {
    margin: 1rem 0;
}

@media screen and (min-width: $sMobileSize) {
    .about .link__container {
        margin: 0 2rem;
    }

    .about__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
