// contact page specific styles

.contact header {
    margin-bottom: 2rem;
    line-height: 1.2;
}

.contact__legend {
    line-height: 1.2;
}

.contact .wpcf7 p {
    margin: 1.5rem 0;
}

.contact input, .contact textarea {
    min-width: 256px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: .6rem .8rem .5rem .8rem;
    border-radius: 10px;
    border: 1px solid $cContactInputBorder;
    box-shadow: 0 1px 1px $cContactInputShadow inset;
    background-color: $cContactInputBackground;
    margin: .5rem 0 .2rem 0;
}

.contact label {
    color: $cMainItemBackground;
    font-weight: 600;
    &:before {
        content: "";
        display: inline-block;
        background-color: $cMainItemBackground;
        width: 2rem;
        height: 1.25rem;
        border-radius: 1rem .3125rem;
        position: relative;
        top: .3125rem; // 5px => 1rem = 16px
        left: 0;
        margin-right: .5rem;
    }
}

.contact input[type=submit] {
    max-width: 300px;
    padding: 1.2rem;
    font-family: $ptSansStack;
    font-size: 1.181rem;
    font-weight: 600;
    color: $cMainBackground;
    background-color: $cMainItemBackground;
    background: $gMainMenuItemBackgroundGrad;
    border: none;
    border-radius: 2rem;
    &:hover {
        text-decoration: none;
        background-color: $cMainItemBackgroundHover;
        background: $gMainMenuItemBackgroundHoverGrad;
    }
    &:focus {
        background-color: $cMainItemBackgroundHover;
        background: $gMainMenuItemBackgroundHoverGrad;
    }
}

// contact form styles
.contact .screen-reader-response, .contact .wpcf7-response-output {
    margin-top: .8rem;
}

.contact .screen-reader-response ul {
    display: none;
}

.contact .wpcf7-not-valid {
    border-color: $cContactErrors;
}

.contact .wpcf7-not-valid-tip {
    display: inline-block;
    color: $cContactErrors;
    font-weight: 400;
}

.contact .wpcf7-validation-errors {
    color: $cContactErrors;
}

.contact .wpcf7-mail-sent-ok {
    color: $cContactSended;
}

@media screen and (min-width: $sMobileSize) {
    .contact header, .contact__legend {
        line-height: inherit;
    }

    .contact input, .contact textarea {
        margin-right: .5rem;
    }
}
