// contact page specific styles

.contact header {
    margin-bottom: 2rem;
    line-height: 1.2;
}

.contact legend {
    line-height: 1.2;
}

.contact__form p {
    margin: 1.5rem 0;
}

.contact input, .contact textarea {
    min-width: 256px;
    max-width: 600px;
    width: 100%;
    padding: .2rem .5rem .1rem .4rem;
    box-sizing: border-box;
}

.contact input[type=submit] {
    max-width: 300px;
    padding: 1.2rem;
    font-family: $ptSansStack;
    font-size: 1.181rem;
    font-weight: 600;
    color: $cMainBackground;
    background-color: $cMainItemBackground;
    background: $gMainMenuItemBackgroundGrad;
    border: none;
    border-radius: 32px;
    &:hover {
        text-decoration: none;
        background-color: $cMainItemBackgroundHover;
        background: $gMainMenuItemBackgroundHoverGrad;
    }
    &:focus {
        background-color: $cMainItemBackgroundHover;
        background: $gMainMenuItemBackgroundHoverGrad;
    }
}

// contact form styles
.screen-reader-response, .wpcf7-response-output {
    margin-top: .8rem;
    color: $cContactErrors;
}

.screen-reader-response ul {
    display: none;
}

.contact__form .wpcf7-not-valid {
    border: 1px solid $cContactErrors;
}

.contact__form .wpcf7-not-valid-tip {
    display: inline-block;
    color: $cContactErrors;
}

@media screen and (min-width: $sMobileSize) {
    .contact header, .contact legend {
        line-height: inherit;
    }

    .contact input, .contact textarea {
        margin-right: .5rem;
    }
}
