// Header specific styles

.header {
    min-height: 3.5rem;
}

header .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.5rem;
    background-color: $cMainItemBackground;
    border-bottom: 2px solid $cMainNavBorder;
    z-index: 1;
    @include clearFix;
    &__container {
        float: right;
        display: block;
        max-width: $sMainMaxSize;
        width: 3.5rem;
        height: 3.5rem;
        margin: 0 auto;
        background: url('#{ $imgPath }burger-menu.svg') center no-repeat;
        background-size: 45% 45%;
    }
    &__item {
        background-color: $cMainItemBackground;
        position: absolute;
        top: -9999px;
        left: 0;
        margin-right: -4px; // avoid html space
        &:first-child {
            position: absolute;
            top: 0;
            left: 1.5rem;
        }
        &:hover {
            background-color: $cMainItemBackgroundHover;
        }
    }
    &__link {
        display: block;
        padding: 1rem;
        color: $cMainBackground;
        font-weight: 600;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            background-color: $cMainItemBackgroundHover;
        }
    }
}

header .navigation__item:first-child a {
    width: 1.5rem;
    height: 1.5rem;
    background: url('#{ $imgPath }home.svg') center no-repeat;
    background-size: 60% 60%;
    text-indent: -99999px;
    &:focus {
        background: url('#{ $imgPath }home.svg') center no-repeat,
        $cMainItemBackgroundHover;
        background-size: 60% 60%;
    }
}

.header .sticky {
    box-shadow: 0 2px 2px $cMainNavShadow;
}

@media screen and (min-width: $sMobileSize) {
    header .navigation {
        &__container {
            width: auto;
            height: auto;
            float: none;
            background: none;
        }
        &__item {
            display: inline-block;
            position: relative;
            top: 0;
            &:first-child {
                position: relative;
                left: 0;
            }
            &:before {
                display: inline-block;
                width: 0;
                height: 0;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                margin-left: 42%;
                border: 8px solid transparent;
            }
        }
    }

    .header .active:before {
        border-bottom-color: $cMainNavBorder;
    }

    header .navigation__item:first-child a {
        width: auto;
        height: auto;
        background: none;
        text-indent: 0;
        &:focus {
            background: none;
            background-color: $cMainItemBackgroundHover;
        }
    }
}
