// projects page specific styles

.projects img {
    max-width: 256px;
    height: auto;
    border: 4px solid $cMainItemBackground;
    border-radius: $sFigureBorderRadius;
    &:hover {
        border: 4px solid $cMainItemBackgroundHover;
    }
}

.projects {
    &__link {
        display: inline-block;
        &:focus img {
            border: 4px solid $cMainItemBackgroundHover;
        }
    }
}

@media screen and (min-width: $sMobileSize) {
    .projects {
        &__link {
            margin-top: 1rem;
        }
        &__project {
            text-align: center;
        }
        &__title {
            text-align: left;
        }
    }

    .projects img {
        max-width: 410px;
    }
}

@media screen and (min-width: $sProjectsMediumSize) {
    .projects img {
        max-width: 590px;
    }
}

@media screen and (min-width: $sProjectsBigSize) {
    .projects img {
        max-width: 100%;
    }
}
