// view-project page specific styles

.view-project img {
    max-width: 100%;
    height: auto;
    margin: ($sTitleAndContentAddGap + .8rem) 0;
    border-radius: $sFigureBorderRadius;
}

.view-project .project {
    &__intro {
        margin-top: 0;
    }
    &__figure {
        display: block;
        max-width: $sImgMaxSize;
        min-width: $sImgMinSize;
        margin: 0 auto;
    }
    &__text {
        max-width: $sImgMaxSize;
        margin: $sTitleAndContentAddGap auto;
    }
    &__container {
        max-width: $sImgMaxSize;
        margin: $sTitleAndContentAddGap auto;
    }
}

.view-project .project__intro p {
    padding-bottom: .8rem;
}

.view-project .project__constraints p {
    padding-top: .8rem;
}

.view-project .project__container {
    display: block;
}

.view-project .link {
    &__container {
        display: block;
        &:first-child {
            margin-bottom: 2rem;
        }
    }
    &--button {
        margin-top: 0;
    }
}

.view-project .tech {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: $sTitleAndContentAddGap auto 0 auto;
    padding-top: .8rem;
    text-align: left;
    font-size: 1.181rem;
    &__item {
        margin: .75rem 3rem;
    }
    &__icon {
        color: $cMainItemBackground;
        vertical-align: middle;
        margin-bottom: .25rem;
    }
}

.view-project .sub-tech {
    margin: 0;
    padding-top: 0;
    &__item {
        margin: .75rem 0;
    }
}

@media screen and (min-width: $sMobileSize) {
    .view-project .link__container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .view-project .project__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
