// Global colors variables

// Backgrounds colors
$cMainBackground: #FFF;
$cMainItemBackground: #0076CC;
$cMainItemBackgroundHover: lighten($cMainItemBackground, 5%);
$cFooterBackground: darken($cMainItemBackground, 15%);

// Texts colors
$cLaborText: #323232;
$cLink: $cMainItemBackground;
$cMainNavLink: $cMainBackground;

// Borders colors

// Shadows colors

// Others colors
