// Global sizes variables

$sMainMinSize: 320px;
$sMainMaxSize: 980px;

$sMobilePageSectionsGapSize: 5rem;
$sDesktopPageSectionsGapSize: 10rem;

$sTitleAndContentAddGap: 1.6rem;

$sImgMinSize: 264px;
$sImgMaxSize: 630px;

$sFigureBorderRadius: 16px;


// Media queries

$sMobileSize: 520px;

$sFooterMobileSize: 650px;

$sIndexBigSize: 872px;
