// Global sizes variables

$sMainMinSize: 320px;
$sMainMaxSize: 980px;

$sMobilePageSectionsGapSize: 5rem;
$sDesktopPageSectionsGapSize: 10rem;

$sFigureBorderRadius: 16px;


// Media queries

$sMobileSize: 520px;

$sIndexMediumSize: 750px;
$sIndexBigSize: 950px;

$sProjectsMediumSize: 680px;
$sProjectsBigSize: 840px;

$sAboutMobileSize: 610px;
